body {
	box-sizing: border-box;
}
h1 {
	font-size: 220%;
}
h3 {
	font-size: 130%;
	color: #0152ff;
	border-color: #000;
	border-bottom-style: solid;
	border-width: 0.5px;
}
ul {
	list-style-type: square;
	font-size: 130%;
}
.container {
	border-style: solid;
	border-width: 2px;
}
a:link{
	color:blue;
}
a:visited{
	color:purple;
}
a:hover {
	color:red;
}
a:active {
	color:green;
}
p{
	font-size: 130%;
}
h4{
	font-size:140%;
}
.header {
	background-color: #40e0d0;
	padding: 20px;
	font-family: verdana;
	border-style: solid;
	border-width: 0.5px;
}
#head2 {
	padding: 80px;
}
#head4 {
	padding: 50px;
}
#para {
	padding-left: 40px;
}
.institute {
	font-size: 130%;
	padding-left: 50px ;
	padding-bottom: 10px;
}
.year {
	position: absolute;
	right: 50px;
	padding-right: 9px;
	width: 5%;
	font-size: 100%;
	border: solid;
	border-width: 2px;
	background-color: #40e0d0;
}
@media screen and (max-width:1024px)
{
	.year{
		
		width:15%;
		height: 50px;
	}
	.institute{
		padding-bottom: 70px;
	}
	a {
		display: block;
	}
	
}